$font-size: 16px;
$font-family: Arial;

$liberty:       map-get($colors, 'liberty');
$verdigris:     map-get($colors, 'verdigris');
$gainsboro:     map-get($colors, 'gainsboro');
$tan:           map-get($colors, 'tan');
$fuzzy-wuzzy:   map-get($colors, 'fuzzy-wuzzy');
